:root{
    --primary-text-color:#757575;
    --primary-white-color:#ffffff;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --second-accent-color:#188CE8;
    --secondary-bg-color:#2F303A;
    --inactive-btn-color:#F5F4FA;
    --team-bg-color:#F5F4FA;
    --footer-link-color:rgba(255, 255, 255, 0.6);
    --logo-blck-part :#000000;
    --outline: rgba(236, 236, 236, 1);
    --outline-projects: rgba(238, 238, 238, 1);
    --features-bg:rgba(245, 244, 250, 1);
}

h1,h2,h3,h4,p,ul{
    margin:0;
}

body {
   background-color: var(--primary-white-color);
   color: var(--primary-text-color);
   
   font-family: 'Roboto', sans-serif;
   letter-spacing: 0.03em;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

.list{
    list-style:none;
    padding: 0;
    margin: 0;
}

.btn{
    cursor: pointer;
    border: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.section-title {
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}

.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container{
    width: 1200px;
    margin:0 auto;
    padding-left: 18px;
    padding-right: 18px;
}
/* Header */
header{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--outline);
}

.container.nav{
    display: flex;
}

.nav{
    display: flex;
    align-items: center;
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color:var(--logo-blck-part);

    margin-right: 90px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo .first-part{
   color: var(--accent-color);
}

/* Site navigation */

.site-nav .link{
    color: var(--title-text-color);
    text-decoration: none;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav,
.contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    display: flex;
}

.site-nav .item:not(:last-child){
    margin-right: 50px;
}


/* Contacts */
.contact{
    margin-left: auto;
}

.contact .link{
    color: var(--primary-text-color);
    text-decoration: none;

    padding-top: 32px;
    padding-bottom: 32px;
}
.contact .link:hover,
.contact .link:focus{
    color: var(--accent-color);
}
.contact .item:not(:last-child){
    margin-right: 50px
}
/* Hero */
.hero {
    background-color: var(--secondary-bg-color);
    text-align: center;

    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
        
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url(../images/background-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.hero-title{
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}
.hero .btn{
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;

    display: inline-block;
    margin:0 auto;
    min-width: 215px;
    padding: 10px 32px;

}
.hero .btn:hover,
.hero .btn:focus{
    background-color:var(--second-accent-color);
}

/* Features */
.features{
    padding-top: 94px;
}
.features .list{
    display: flex;   
}

.features .item:not(:last-child) {
    margin-right: 30px;
}

.feature{
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;

    margin-bottom: 10px;
}
.item .text{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    
    min-width: 270px;
}

.antenna-bg,
.clock-bg,
.diagram-bg,
.astronaut-bg{
    background-color: var(--features-bg);
    width: 270px;
    height: 120px;

    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* What we do */
.what-we-do{
    padding-top: 94px;
    padding-bottom: 94px;
}
.what-we-do .list {
    display: flex;
}

.what-we-do .section-title{
    margin-bottom: 50px;
}

.what-we-do .item:not(:last-child){
    margin-right: 30px;
}
/* Team */
.team{
    background-color: var(--team-bg-color);

    padding-top: 94px;
    padding-bottom: 94px;
}

.team .section-title{
    margin-bottom: 50px;
}

.team .list{
    display: flex;
}

.team .item{
    background-color: var(--primary-white-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team .item:not(:last-child) {
    margin-right: 30px;
}

.name{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    
    margin-top: 30px;
}
.position{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;

    margin-top: 10px;
    margin-bottom: 30px;
}
/* Clients */
.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}


/* Footer */
.footer{
    background-color: var(--secondary-bg-color);

    padding-top: 60px;
    padding-bottom: 60px;
}

.footer>.container {
    display: flex;
}

.logo.footer{
    color: var(--primary-white-color);
    
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 20px;
    padding: 0px;
}

.address{
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
}

.address .item:not(:last-child){
    margin-bottom: 9px;
}

.address .street{
    color: var(--primary-white-color);
    text-decoration: none;
}
.address .link{
    color:var(--footer-link-color);
    text-decoration: none;
}
.address .link:focus,
.address .link:hover,
.address .street:focus,
.address .street:hover{
    color: var(--accent-color);
}

.footer-links{
    margin-left: 70px;
}

.footer-text{
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    margin-top: 12px;
    margin-bottom: 20px;
}

/* Portfolio */
.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
}

.filter.list{
    display: flex;
    justify-content: center;
}

.filter .item:not(:last-child){
    margin-right: 8px;
}

.filter .btn{
    background-color:var(--inactive-btn-color);
    color:var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: inherit;

    display: inline-block;
    margin: 0 auto;
    padding: 6px 25px;
    min-width: 73px;
}

.filter .btn:hover,
.filter .btn:focus{
    background-color:var(--accent-color);
    color:var(--primary-white-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects.list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.project{
    flex-basis: calc((100% - 60px) / 3);
}

.project-bottom{
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--outline-projects);
    
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--outline-projects);

    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: var(--outline-projects);

    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
}

.project-name{
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project-type{
    font-size: 16px;
    line-height: 1.8;

    margin-top: 4px;
}